.el-form--small.el-form--label-top .el-form-item .el-form-item__label{
    margin-bottom: 0!important;
}
.el-form--label-top .el-form-item{
    background-color: #fafafc;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 0px;
    // border: 1px solid #f4f4f4;
}